@import "../../fonts/Gilroy/stylesheet.css";

* {
    font-family: Gilroy, sans-serif;
}

:root {
--common_fontSize: 1.3rem;
--witdhRatio: 10px;
--widthImageElements: 50px;
--paddingNumDay: 10%
}

::-webkit-scrollbar {
width: 0px;
background: rgba(255,255,255,0)
}

* {
margin: 0;
padding: 0;
font-family: 'Gilroy';
font-size: 10px
}

body {
display: flex;
justify-content: space-between;
width: 100%;
background-color: #F3F4F9 !important
}

body .left-aside {
position: fixed;
left: 0;
height: 100vh;
background-color: #ffffff
}

body .center-section-container {
margin-left: 13.5%;
background-color: #F3F4F9
}

body .right-aside-container {
position: fixed;
right: 0;
height: 100vh;
background-color: #ffffff
}

@media all and (min-width:1793px) and (max-width:2048px) {
* {
font-size: 15px
}

.center-section-container {
height: 1080px
}

.right-aside-container {
width: 22%
}
}

@media all and (min-width:1537px) and (max-width:1792px) {
:root {
--witdhRatio: 7px;
--paddingNumDay: 6%
}

* {
font-size: 13px
}

.center-section-container {
height: 900px
}

.center-section-container .user-statistics-block, .center-section-container .semesterMarksDiagram {
height: 35% !important
}

.center-section-container .soon_birthdays, .center-section-container .last_marks, .center-section-container .class_chat {
height: 50% !important
}

.right-aside-container {
width: 22%
}
}

@media all and (min-width:1281px) and (max-width:1536px) {
:root {
--witdhRatio: 5px;
--paddingNumDay: 3%
}

* {
font-size: 11px
}

.center-section-container {
height: 768px
}

.center-section-container .user-statistics-block, .center-section-container .semesterMarksDiagram {
height: 37% !important
}

.center-section-container .soon_birthdays, .center-section-container .last_marks, .center-section-container .class_chat {
height: 55% !important
}

.right-aside-container {
width: 22%
}
}

@media all and (min-width:1024px) and (max-width:1280px) {
:root {
--witdhRatio: 1px;
--paddingNumDay: 0%;
--widthImageElements: 40px
}

* {
font-size: 9px
}

.logo {
width: 70% !important
}

.center-section-container {
height: 768px
}

.center-section-container .user-textInfo {
height: 70% !important
}

.center-section-container .user-statistics-block, .center-section-container .semesterMarksDiagram {
height: 33% !important
}

.center-section-container .soon_birthdays, .center-section-container .last_marks, .center-section-container .class_chat {
height: 43% !important
}

.right-aside-container {
width: 22%
}

.right-aside-container div.numDay {
padding: 40% !important
}

.right-aside-container div.notes-count {
right: -7% !important
}
}

@media all and (min-width:768px) and (max-width:1023px) {
* {
font-size: 9px
}

:root {
--witdhRatio: 2px;
--paddingNumDay: 0%;
--widthImageElements: 42px
}

.left-aside {
width: 7% !important;
padding-top: 1%
}

.left-aside .nav-menu {
margin-top: 35% !important
}

.left-aside .nav-menu .nav-item {
justify-content: center !important
}

.left-aside .nav-menu .nav-item.active::after {
width: 23px !important;
height: 130%;
padding: 0px;
right: -15px !important
}

.left-aside .nav-menu .nav-item .nav-item-icon {
width: 35% !important
}

.left-aside .nav-menu .nav-item .nav-link {
display: none !important
}

.left-aside .exit_btn .nav-item {
height: 100% !important;
justify-content: center !important
}

.left-aside .exit_btn .nav-item .nav-item-icon {
width: 37% !important
}

.left-aside .exit_btn .nav-item .nav-link {
display: none !important
}

.left-aside .logo .logo-title {
display: none !important
}

.center-section-container {
width: 66% !important;
height: 1024px !important;
margin-left: 7% !important
}

.center-section-container .center-section {
width: 93% !important
}

.center-section-container .center-section header.header {
margin-top: 1% !important;
order: 0
}

.center-section-container .center-section header.header .headerElements .personalCabinet .user-textInfo {
height: 55%
}

.center-section-container .center-section > div {
margin-top: 3% !important
}

.center-section-container .center-section .visit-info-block {
height: 13% !important;
order: 1
}

.center-section-container .center-section .visit-info-block #image-cont {
height: 95%
}

.center-section-container .center-section .user-statistics-block, .center-section-container .center-section .class_chat {
width: 43% !important;
height: 25% !important;
order: 2
}

.center-section-container .center-section .class_chat {
order: 3
}

.center-section-container .center-section .semesterMarksDiagram {
width: 100% !important;
height: 20% !important;
order: 4
}

.center-section-container .center-section .soon_birthdays, .center-section-container .center-section .last_marks {
width: 43% !important;
height: 36% !important
}

.center-section-container .center-section .soon_birthdays {
order: 5
}

.center-section-container .center-section .last_marks {
order: 6
}

.right-aside-container {
width: 27% !important
}

.right-aside-container .calendar-notes .change-month-field {
width: 95% !important
}

.right-aside-container .calendar-notes .change-month-field .change-month_btns {
width: 22% !important
}

.right-aside-container .calendar-notes div.numDay {
padding: 40% !important
}

.right-aside-container .calendar-notes div.notes-count {
right: -7% !important
}

.right-aside-container .list-class-schedule ul.enum-clss-schdl .text-item {
margin-left: 4% !important
}

.right-aside-container .dateNow {
padding: 2% !important
}
}

@media all and (min-width:320px) and (max-width:767px) {
:root {
--witdhRatio: 5px;
--paddingNumDay: 0%;
--widthImageElements: 45px
}

* {
font-size: 9.8px
}

.left-aside {
flex-direction: row !important;
bottom: 0 !important;
width: 100% !important;
height: 55px !important;
border-radius: 15px 15px 0px 0px !important;
z-index: 3
}

.left-aside .nav-menu {
height: 100% !important;
justify-content: center !important;
margin-top: 0% !important
}

.left-aside .nav-menu ul.nav {
flex-direction: row !important
}

.left-aside .nav-menu ul.nav .nav-item {
justify-content: center !important;
flex-direction: column !important;
height: 100% !important
}

.left-aside .nav-menu ul.nav .nav-item.active {
border-radius: 20px !important
}

.left-aside .nav-menu ul.nav .nav-item.active::after {
width: 0px !important
}

.left-aside .nav-menu ul.nav .nav-item .nav-item-icon {
width: 20% !important;
margin-bottom: 4px !important
}

.left-aside .nav-menu ul.nav .nav-item .nav-link {
width: 100% !important;
text-align: center
}

.left-aside .exit_btn {
display: none !important
}

.left-aside .logo {
display: none !important
}

.center-section-container {
width: 100% !important;
height: 480px;
margin: 0 !important
}

.center-section-container .center-section {
width: 93% !important
}

.center-section-container .center-section header.header {
margin-top: 1% !important;
order: 0
}

.center-section-container .center-section header.header .headerElements {
width: 98% !important;
flex-direction: row-reverse
}

.center-section-container .center-section header.header .headerElements .fontSizePage {
display: none
}

.center-section-container .center-section header.header .headerElements .header-buttons {
width: 45%;
margin: 0%
}

.center-section-container .center-section header.header .headerElements .header-buttons > div {
margin: 0;
width: 10% !important
}

.center-section-container .center-section header.header .headerElements .header-buttons > .exit-icon {
display: flex
}

.center-section-container .center-section > div {
margin-top: 4% !important
}

.center-section-container .center-section > div:not(div:nth-child(2)) .rollUp-block {
display: flex !important;
justify-content: center;
margin-top: 1%
}

.center-section-container .center-section .visit-info-block {
height: 28% !important;
order: 1
}

.center-section-container .center-section .visit-info-block #text-cont {
margin-left: 4% !important;
height: 79% !important
}

.center-section-container .center-section .visit-info-block #text-cont > .welcome-user-text {
font-size: calc(var(--common_fontSize) + .2rem) !important
}

.center-section-container .center-section .visit-info-block #text-cont .go-btns > button {
font-size: calc(var(--common_fontSize) - .25rem) !important;
font-weight: 500 !important
}

.center-section-container .center-section .visit-info-block #image-cont {
height: 95%
}

.center-section-container .center-section .user-statistics-block {
width: 100% !important;
height: 55% !important;
padding: 3% 7% !important;
order: 2
}

.center-section-container .center-section .user-statistics-block .user-photo {
width: 60px !important;
height: 60px !important
}

.center-section-container .center-section .user-statistics-block .user-photo img {
width: 100%;
height: 100%
}

.center-section-container .center-section .user-statistics-block .user-name {
font-size: calc(var(--common_fontSize) + .1rem) !important
}

.center-section-container .center-section .user-statistics-block .user-status {
font-size: calc(var(--common_fontSize) - .1rem) !important
}

.center-section-container .center-section .user-statistics-block .user-educInstitute-title {
width: 80% !important;
font-size: calc(var(--common_fontSize) - .1rem) !important
}

.center-section-container .center-section .user-statistics-block .marks .mark {
font-size: calc(var(--common_fontSize) + .2rem) !important
}

.center-section-container .center-section .user-statistics-block .marks .text {
font-size: calc(var(--common_fontSize) - .15rem) !important
}

.center-section-container .center-section .semesterMarksDiagram, .center-section-container .center-section .soon_birthdays, .center-section-container .center-section .last_marks, .center-section-container .center-section .class_chat {
width: 100% !important
}

.center-section-container .center-section .semesterMarksDiagram li, .center-section-container .center-section .soon_birthdays li, .center-section-container .center-section .last_marks li, .center-section-container .center-section .class_chat li {
margin: 1% auto !important;
margin-bottom: 3% !important
}

.center-section-container .center-section .semesterMarksDiagram {
height: 40% !important;
order: 4
}

.center-section-container .center-section .soon_birthdays {
height: 78% !important;
order: 5
}

.center-section-container .center-section .soon_birthdays .person-info_cont {
padding: 1% !important
}

.center-section-container .center-section .last_marks {
height: 70% !important;
order: 6
}

.center-section-container .center-section .class_chat {
height: 40% !important;
order: 3
}

.right-aside-container {
display: absolute !important;
right: 0 !important;
height: 90% !important;
width: 0
}

.right-aside-container .swipe-stick {
display: flex !important
}

.right-aside-container .calendar-notes .change-month-field {
width: 93% !important
}

.right-aside-container .calendar-notes .change-month-field .change-month_btns {
width: 18% !important
}

.right-aside-container .calendar-notes .calendar-field {
width: 100%
}

.right-aside-container .list-class-schedule .list-class-schedule {
width: 100%
}

.right-aside-container .list-class-schedule .list-class-schedule .header-sections {
width: 92%;
display: none
}

.right-aside-container .list-class-schedule ul.enum-clss-schdl .text-item {
margin-left: 4% !important
}

.right-aside-container .list-notes-from-calendar {
width: 100%
}

.right-aside-container .list-notes-from-calendar .header-sections {
width: 93%
}
}

@media all and (min-width:480px) and (max-width:767px) {
.center-section-container {
height: 530px
}
}
