@{
    ViewData["Title"] = "Задание 1";
}

<div class="text-center">
    <h1>Задание 1</h1>
    <table align="center" border="1">
        @{
            foreach (var row in Model.matrix)
            {
                <tr>
                    @{
                        foreach (var cell in row)
                        {
                        <td>
                            @cell
                        </td>
                        }
                    }
                </tr>
            }
        }
    </table>
    <p>Наибольшее значение побочной диагонали - @Model.max</p>
    <p>Наибольшее значение соседней линии слева - @Model.max1</p>
    <p>Наибольшее значение соседней линии справа - @Model.max2</p>
</div>
